# This file contains secrets. Keep it safe!

# Rename me to config.env

# Database Server
db_server="10.5.0.144"              #IP address if running on a different server
#db_server="localhost\\SQLEXPRESS"  #If running on the same server
db_database="cohauth"               #probably always cohauth
db_username="CoHDB"                 #SQL account username
db_password="bqaDDMA7QUKNABYdKQrj"  #SQL account password

# Command to start dbquery on Linux. Exports work okay, imports do not. I do not know why.
#dbquery="DISPLAY=:0.0 wine /home/ubuntu/environment/i25Binaries/bin/dbquery.exe -db 10.5.0.144"

# Command to start dbquery on Windows. If your dbquery is running on a different computer than dbserver, add the
# command line switch -db <ip address>
# dbquery="C:\\Issue25Server\\bin\\dbquery.exe -db 10.5.0.144"
dbquery="C:\\Issue25Server\\bin\\dbquery.exe"

# Website configuration
portal_name="Aurora Server"             # Name of your server
portal_key="Some Key"                   # Random string as encryption key
portal_iv="Some Initialization Vector"  # Random string as initialization vector