# This file contains secrets. Keep it safe!

# Rename me to config.env

##### Database Server Configuration #####
db_server="localhost\\SQLEXPRESS"   #Server address. Use IP address if it's on a different computer
db_database="cohauth"               #probably always cohauth
db_username="CoHDB"                 #SQL account username
db_password="bqaDDMA7QUKNABYdKQrj"  #SQL account password

##### DBQuery Configuration #####
# Command to start dbquery on Linux. Exports work okay, imports do not. I do not know why.
#dbquery="DISPLAY=:0.0 wine /home/ubuntu/environment/i25Binaries/bin/dbquery.exe -db 10.5.0.144"

# Command to start dbquery on Windows. If your dbquery is running on a different computer than dbserver, add the
# command line switch -db <ip address>
# dbquery="C:\\Issue25Server\\bin\\dbquery.exe -db 10.5.0.144"
dbquery="C:\\Issue25Server\\bin\\dbquery.exe"

##### Website configuration #####
# Name of your server. If you are participating in a federation, this must reflect
# the name of an entry in federation.php. Case sensitive!
portal_name="Aurora Server"

# Crypto keys used for local purposes. Used so people can't just go grab other
# people's characters. Don't share these and don't put them in your
# federation.php file.
portal_key="Some Key"
portal_iv="Some Initialization Vector"