<p>Before you create an account on this server, there's a few things you should know:</p>
<ol>
    <li>Aurora is a small server, with a maximum capacity of 50 or so players, please keep this in mind and have discretion when inviting your friends.</li>
    <li>The server runs off of the i25 binaries, we do not currently receive updates from the Homecoming team.</li>
    <li>For any issues regarding new power sets and content, there unfortunately is no real support at this time.</li>
    <li>We will be migrating to Ouroboros server standard when it's ready. Most characters should make the transition fine. The Homecoming-only archetype Sentinel will have to be rebuilt, or may not be able to be transferred.</li>
</ol>

<h1>Account Details</h1>
<!-- username and password form is appended below this line !-->