<div class="block">
    <div class="blocktitle">
        Welcome to {{portal_name}}!
    </div>
    <div class="blockbody">
        <p>This City of Heroes private server was created for friends to play together in a fun atmosphere.</p>

        {% if status.status == 'Online'  %}
            <p>Server started on {{status.started}}, running for {{status.uptime}}</p>
        {% else %}
            <p>Server is currently down.</p>
        {% endif %}

        <p>There are {{accounts}}  registered accounts holding {{characters}} characters.</p>
    </div>
</div>

<div class="block">
    <div class="blocktitle">
        Client Download
    </div>
    <div class="blockbody">
        <p>To download the client, please follow these steps:</p>
        <ol>
            <li>Download the client <a href="https://drive.google.com/open?id=1rHNhoAPn6haVt6afLTxoGvh5pAPjT_Vy">from here</a>.</li>
            <li>Extract it somewhere convenient.</li>
            <li>Run "AurorisCOH.bat" and login with the account you created.</li>
        </ol>
    </div>
</div>

<div class="block">
    <div class="blocktitle">
        Discord and Support
    </div>
    <div class="blockbody">
        <p><a href="https://discord.gg/UyBcpxa">Join the community on Discord.</a></p>
    </div>
</div>
