<li class="menu__item">
    <a href="https://discord.gg/UyBcpxa"  class="menu__link navitem">Discord</a>
</li>
<li class="menu__item">
    <a href="https://github.com/auroris/City-of-Heroes-Account-Portal"  class="menu__link navitem">Github</a>
</li>